Jump to content
DAAD - Deutscher Akademischer Austauschdienst - German Academic Exchange Service  - to homepage
Deutsch
English
Colour switch

Study and Research in Germany
Requirements & Enrolment
in the cafeteria
© Büssemeier / DAAD

If you want to study at a German higher education institution, you will have to meet certain requirements. The most important prerequisites for applying are explained here.

Requirements, Application & Enrolment
a group downtown
©
Overview
Female student on the laptop with bag
©
Admission Database
Two students working on a notebook computer
©
Application Process
in the studens office
©
Enrolling

Address
Deutscher Akademischer Austauschdienst e.V.
Kennedyallee 50
53175 Bonn

Germany

All addresses in the DAAD Network

DAAD Newsletters
Receive regular up-to-date information about our work and organisation.

Newsletter - DAAD

Useful Links
Find Scholarships
DAAD offices worldwide
Strategy 2030
Press
DAAD - Deutscher Akademischer Austauschdienst - German Academic Exchange Service
Imprint
Data Privacy Statement
Cookies
Declaration on accessibility
Report accessibility issue